# {{ ansible_managed }}

[Unit]
Description={{ instances[instance_id].group }}_{{ instances[instance_id].user }}_{{ instances[instance_id].instance }}

After=network.target

[Service]
User={{ instances[instance_id].user }}
Group={{ instances[instance_id].group }}

ExecStart=/usr/bin/uwsgi \
--plugin=python3 \
--socket=127.0.0.1:{{ instances[instance_id].uwsgi.port }} \
--max-requests=10000 \
--chdir=/home/{{ instances[instance_id].user }}/{{ instances[instance_id].instance }}/www \
--module=www.wsgi:application \
--env DJANGO_SETTINGS_MODULE=www.settings_{{ instances[instance_id].instance }} \
--master \
--processes=4 \
--harakiri=20 \
--vacuum \
--home=/home/{{ instances[instance_id].user }}/{{ instances[instance_id].instance }}/venv/ \
--pp=/home/{{ instances[instance_id].user }}/{{ instances[instance_id].instance }}/www/


RestartSec=10s
TimeoutStartSec=30s
StartLimitInterval=400
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardOutput=null
StandardError=journal
NotifyAccess=all

[Install]
WantedBy=multi-user.target
