# {{ ansible_managed }}

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ instances[instance_id].group }}_{{ instances[instance_id].user }}_{{ instances[instance_id].instance }}',
        'USER': '{{ instances[instance_id].group }}_{{ instances[instance_id].user }}_{{ instances[instance_id].instance }}',
        'PASSWORD': '{{ instances[instance_id].postgres.password }}',
        'HOST': 'localhost',
        'PORT': '5432'
    },
}
